@using System.Web.Mvc.Html

@model HelloWorld.Extentions.ViewModels.EditFeedbackViewModel

<fieldset>
    <legend>Feedback</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Author)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Author)
        @Html.ValidationMessageFor(model => model.Author)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CourseId)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.CourseId,
                      Model.Courses.Select(s => new SelectListItem
                      {
                          Selected = s.Id== Model.CourseId,
                          Text = s.Name,
                          Value = s.Id.ToString()
                      }),
                      "Choose a course...")
        @Html.ValidationMessageFor(model => model.CourseId)
    </div>
</fieldset>